@model Ejemplo_importante.datos.Dto.CategoryDto

<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="utf-8" />
    <title>Detalles de la Categoría</title>
    <link href="~/Content/css/style1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Detalles de la Categoría</h2>

    <div>
        <p><strong>ID:</strong> @Model.CategoryId</p>
        <p><strong>Nombre:</strong> @Model.CategoryName</p>
        <p><strong>Descripción:</strong> @Model.Description</p>
    </div>

    <a href="/Category/Index" class="btn btn-secondary">Volver a la Lista</a>
</body>
</html>
