<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Otros enlaces a hojas de estilos -->
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>